# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
chomp.doc
worms.sln.docstates.suo
worms.suo
worms.vcxproj.user
_intermediate/
bin/worms.ilk
bin/worms.pdb
*.vsp
*.psess
